@import "tailwindcss";

@theme {
    --color-chetwode-blue-50: #eef2ff;
    --color-chetwode-blue-100: #e0e7ff;
    --color-chetwode-blue-200: #c6d3ff;
    --color-chetwode-blue-300: #a4b4fd;
    --color-chetwode-blue-400: #707ef9;
    --color-chetwode-blue-500: #6165f3;
    --color-chetwode-blue-600: #4b44e7;
    --color-chetwode-blue-700: #4036cc;
    --color-chetwode-blue-800: #352ea5;
    --color-chetwode-blue-900: #2f2d82;
    --color-chetwode-blue-950: #1d1a4c;

    --color-primary: var(--color-chetwode-blue-600);


}

@layer base {

    body {
        @apply bg-chetwode-blue-100 font-medium w-full;
    }

}

@layer components {

    .button-primary {
        @apply py-4 px-8 rounded-lg text-white w-full cursor-pointer bg-chetwode-blue-600 max-w-88

    }

    .button-secondary {
        @apply py-4 px-8 rounded-lg text-gray-600 w-full cursor-pointer max-w-88

    }

}

* {
    width: 100%;
}